<h1>{{pageTitle}}</h1>
<main>
    <form id="login-form" method="POST" action="/login">
        <label for="username">Username:</label>
        <input name="username" id="username" type="text" />
        <br>
        <br>
        <label for="password">Password:</label>
        <input name="password" id="password" type="password" />
        <br>
        <br>
        <button type="submit">Log In</button>
        <a href="profile.handlebars">Sign Up</a>
        <br>
        <p class="error">{{error}}</p>
    </form>

    {{!-- <script>
        $("#login-form").submit(function(event)){
            event.preventDefault();
        }

        var $form = $(this),
        url = $form.attr('action');
    </script> --}}

</main>