<div class="login-form">
  <form id="edit-profile-form" action="/signup" method="post">
    <h2 class="text-center">Sign Up</h2>
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="name" value="Alex">
    </div>
    <div class="form-group">
      <label for="email">Username/Email</label>
      <input type="text" class="form-control" id="email" value="ajames@gmail.com">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="form-group">
      <label for="phoneNo">Phone Number</label>
      <input type="tel" class="form-control" id="phonenumber" value="">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Create Account</button>
    </div>
  </form>
</div>
<script>
  $(document).ready(function () {
    $("#edit-profile-button").click(function () {
      alert("clicked book!!- Validate here");
      $("#edit-profile-form").submit();
    });

    $("#edit-profile-form").submit(function (e) {
      e.preventDefault();
      $.post(
        {
          url: "edit-profile/",
          data: {
            userId: userId
          },
          success: function (result) {
            const res = result;
            $("#status_" + bookingId).text(res.bookingObj.status);
            $("#" + event.target.id).hide();
          },
          error: function (xhr, status, errorString) {
            console.log("error!!");
          }
        });
      $("#ajax-status-text").text("make ajax call here");
      $("#ajax-status-text").show();
      setTimeout(function () {
        $("#ajax-status-text").fadeOut().empty();
        $("#ajax-status-text").hide();
      }, 10000);
      return false;
    });
  });
</script>