{{> search/search_form}}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Kerala</div>
                <div class="panel-body"><img
                        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/kstory_647_010317124538.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Himalayas</div>
                <div class="panel-body"><img
                        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/kstory_647_010317124538.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Tamil Nadu</div>
                <div class="panel-body"><img
                        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/kstory_647_010317124538.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Andhra Pradesh</div>
                <div class="panel-body"><img
                        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/kstory_647_010317124538.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Punjab</div>
                <div class="panel-body"><img
                        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/kstory_647_010317124538.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">West Bengal</div>
                <div class="panel-body"><img
                        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201701/kstory_647_010317124538.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row  text-center">
        <ul class="pagination">
            <li><a href="#">&lt;&lt;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;&gt;</a></li>
        </ul>
    </div>
</div>