<div class="container">
    <div class="row">
        <div class="class-sm-12">
            <h1>Yikes!!</h1>
            <h2>{{error_msg}}</h2>
            <br>
            <br>
        </div>
    </div>
</div>      