<div class="container-fluid">
    {{#attractions}}
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" src="{{image}}" alt="{{name}}" />
            <br>
            <br>
        </div>
        <div class="col-sm-9">
            <h2>{{name}}</h2>
            <br>
            <label>Duration:</label>
            <label>{{duration}} hours</label>
        </div>
    </div>
    {{/attractions}}
</div>