<div class="container-fluid">
    {{#attractions}}
    <div class="row row-buffer">
        <div class="col-sm-3">
            <img width="220" height="220"
                src="https://www.keralaholidays.com/uploads/tourpackages-gallery/thumb/Kerala---The-Green-Paradise.jpg"
                alt="dynamic name" />
            <br>
            <br>
        </div>
        <div class="col-sm-9">
            <h2>{{name}}</h2>
            <br>
            <label>Duration:</label>
            <label>{{duration}} hours</label>
        </div>
    </div>
    {{/attractions}}
</div>