<div class="container-fluid">
    <div class="row row-buffer">
        <div class="col-sm-3">
            <img width=" 220px" height="220px"
                src="https://www.keralaholidays.com/uploads/tourpackages-gallery/thumb/Kerala---The-Green-Paradise.jpg"
                alt="dynamic name" />
            <br>
            <br>
        </div>
        <div class="col-sm-9">
            <h2>Munnar-dynamic</h2>
            <br>
            <label>Duration:</label>
            <label>2 hours-replace it with dynamic</label>
        </div>
    </div>
</div>