<div class="well">
    <div class="conatiner-fluid  text-left">
        <div class="row">
            <div class="col-sm-12">
                <label>Price: ${{package.price}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> package-details/date-picker}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="number">Number of People:</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quantity"
                            onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepDown()">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="number" name="quantity" class="form-control input-number" value="1" min="1">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quantity"
                            onclick="this.parentNode.parentNode.querySelector('input[type=number]').stepUp()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <br>
                <br>
                <button type="button" id="book_online" class="btn btn-success">Book Online</button>
            </div>
        </div>
    </div>


</div>