<label for="trip-date">Trip Date:</label>
<input id="trip-date" name="trip-date" value="" readonly />
<br>
<script>
    $('#trip-date').datepicker({
        uiLibrary: 'bootstrap',
        minDate: new Date()
    });
</script>