<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img width="920" height="320" alt="{{package.name}}" src="{{package.image}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>{{package.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>{{package.description}}</h4>
        </div>
    </div>
</div>