<div class="container-fluid">
    <!--Enclose below row in iteration for each itinerary -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Itinerary</h3>
        </div>
    </div>
    <div class="row row-buffer">
        <div class="col-sm-12">
            <h2 class="text-center" style="background-color:darkorange;border-radius: 50px;">
                Day 1
            </h2>
            {{> package-details/hotel-info}}
            {{> package-details/attraction}}
        </div>
    </div>
</div>