<div class="container">
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pacakge Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Pacakge Description</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- delete below  block until comment - being-->
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pacakge Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Pacakge Description</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pacakge Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Pacakge Description</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pacakge Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Pacakge Description</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pacakge Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Pacakge Description</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-buffer well">
        <div class="col-sm-3">
            <img width="220" height="220" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Pacakge Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Pacakge Description</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- delete below block until commnet -end -->
</div>