{{> search/search_form}}
<div class="container">
    {{#each featuredLocations}}
    <div class="row">
        {{#each this}}
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{name}}</div>
                <a href="/location-packages/{{_id}}">
                    <div class="panel-body"><img src="{{image}}" class="img-responsive" style="width:100%" alt="Image">
                </a>
            </div>
            {{!-- <div class="panel-footer">Riverfront Adventure</div> --}}
        </div>
    </div>
    {{/each}}
</div><br>
{{/each}}
</div><br><br>