{{> search/search_form}}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Europe</div>
                <div class="panel-body"><img
                        src="https://ttc.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Europe</div>
                <div class="panel-body"><img
                        src="https://ttc.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Europe</div>
                <div class="panel-body"><img
                        src="https://ttc.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Europe</div>
                <div class="panel-body"><img
                        src="https://ttc.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Europe</div>
                <div class="panel-body"><img
                        src="https://ttc.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Europe</div>
                <div class="panel-body"><img
                        src="https://ttc.com/wp-content/uploads/2014/08/iStock_000019737739Large-2000x1250.jpg"
                        class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Riverfront Adventure</div>
            </div>
        </div>
    </div>
</div><br><br>