/*All the global css that needs to be set goes in this file.*/
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

/*CSS that applies across sites*/

/*Custom css for package details*/
.row-buffer {
    margin-top: 20px;

}

/* .row{
    text-overflow: ellipsis;
} */

/* .desp{
    word-wrap: break-word;
}
 */

/*Login form*/
.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}