<!--partials/checkout/checkout_details.handlebars begin-->
<div class="container">
    <div class="row">
        <h1>Checkout Details</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img width="220px" height="220px" alt="package name here"
                src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Varkala_beach_750.jpg?itok=Nk4qC4Uf" />
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Pacakge Name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Pacakge Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Total Price:$1500</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Total Number of People:4</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--partials/checkout/checkout_details.handlebars end-->