<!--partials/checkout/payment_form.handlebars begin-->
<div class="container">
    <div class="row">
        <h1>Payment</h1>
        <div class="container">
            <div class="row">
                <h3>Card details in this row</h3>
                <p>Build the Payment section. </p>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary">Make Payment</button>
            </div>
        </div>
    </div>
</div>
<!--partials/checkout/payment_form.handlebars end-->