<div class="container">
    <div class="row text-center">
        <form class="form-inline" method="POST" action="/search">
            <label for="keyword">Search Packages:</label>
            <input id="keyword" name="keyword" type="text" class="form-control" size="50"
                placeholder="Destination, Package Names">
               
            <button type="submit" class="btn btn-danger">Search</button>   
           
        </form>
    </div>
</div>
<br>
<br>