<div class="container">
    <div class="row">
        <h1>My Profile</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                <form id="edit-profile-form" method="POST" action="/#">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" value="ajames@gmail.com" readonly>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="name">Full Name</label>
                            <input type="text" class="form-control" id="name" value="Alex James">
                        </div>
                        <div class="col-sm-4">
                            <label for="phonenumber">Phone Number</label>
                            <input type="tel" class="form-control" id="phonenumber" value="5432109876">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <button id="edit-profile-button" type="submit" class="btn btn-primary">Update</button>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <div class="text-info" style="display:none;" id="ajax-status-text"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#edit-profile-button").click(function () {
            alert("clicked book!!- Validate here");
            $("#edit-profile-form").submit();
        });

        $("#edit-profile-form").submit(function (e) {
            e.preventDefault();
            $.post(
                {
                    url: "edit-profile/",
                    data: {
                        userId: userId
                    },
                    success: function (result) {
                        const res = result;
                        $("#status_" + bookingId).text(res.bookingObj.status);
                        $("#" + event.target.id).hide();
                    },
                    error: function (xhr, status, errorString) {
                        console.log("error!!");
                    }
                });
            $("#ajax-status-text").text("make ajax call here");
            $("#ajax-status-text").show();
            setTimeout(function () {
                $("#ajax-status-text").fadeOut().empty();
                $("#ajax-status-text").hide();
            }, 10000);
            return false;
        });
    });
</script>