<!--booking/confirmation.handlebars begin-->
<div class="container">
    <div class="row">
        <h1>Thank you!</h1>
        <p>Your Booking with number 10101010 has been confirmed. Have a wonderful trip!!</p>
        <a href="/">Plan More Trips!!</a>
        <br>
        <br>
    </div>
</div>
<!--booking/confirmation.handlebars handlebars end-->